$board-padding-top: 21px;
$board-padding-right: 8px;
$board-padding-bottom: 20px;
$board-padding-left: 8px;

$list-gap: 12px;

$add-list-form-top-margin: 12px;

$scrollbar-thickness: 10px;
$scrollbar-padding: 5px;
$scrolbar-border-radius: 9px;
$scrollbar-track-bg-color: rgba(9, 30, 66, .08);
$scrollbar-thumb-bg-color: rgba(193, 198, 201, 0.5);

.board {
  width: 100vw;
  height: 100vh;
  padding-bottom: $scrollbar-padding;

  .board-lists {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    padding: $board-padding-top $board-padding-right $scrollbar-padding $board-padding-left;

    user-select: none;
    scrollbar-width: thin; // for firefox

    &::-webkit-scrollbar {
      height: $scrollbar-thickness;
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollbar-thumb-bg-color;
      border-radius: $scrolbar-border-radius;
    }

    &::-webkit-scrollbar-track {
      background: $scrollbar-track-bg-color;
      border-radius: $scrolbar-border-radius;
    }

    .board-list, .add-list-wrapper {
      flex: 0 0 auto;
      margin-left: $list-gap;
    }

    .board-list {
      height: calc(100% - 2 * #{$scrollbar-padding} - #{$scrollbar-thickness});
    }

    .add-list-form {
      margin-top: $add-list-form-top-margin;
    }

    &::after {
      content: '';
      flex: 0 0 $list-gap;
      height: 100%;
    }
  }
}