@import '../../assets/scss/variables';

$list-width: 272px;
$list-bg-color: #e3e5ea;
$list-border-radius: 3px;
$list-space: 14px;

$list-header-line-height: 19px;
$list-header-top-space: 8px;
$list-header-bottom-space: 8px;
$list-header-color: black;
$list-header-font-size: 1.3rem;

$list-card-gap: 8px;

$card-placeholder-bg-color: #C9D2D9;
$card-placeholder-width: 246px;
$card-placeholder-border-radius: 3px;

$list-footer-height: 43px;

$scrollbar-thickness: 9px;
$scrollbar-padding-right: 3px;
$scrollbar-border-radius: 3px;
$scrollbar-thumb-bg-color: #c1c6c9;

.card-list {
  position: relative;
  width: $list-width;

  touch-action: none;

  > * {
    padding: 0 $list-space;

    background-color: $list-bg-color;
  }

  &.dragged {
    z-index: 1;

    transform: rotate(5deg);
    cursor: pointer;
  }

  header {
    padding-top: $list-header-top-space;
    padding-bottom: $list-header-bottom-space;

    border-top-left-radius: $list-border-radius;
    border-top-right-radius: $list-border-radius;
    cursor: pointer;

    .list-title {
      color: $list-header-color;
      font-family: $font-stack;
      font-size: $list-header-font-size;
      font-weight: bold;
      line-height: $list-header-line-height;
      word-break: break-word;
    }
  }

  .list-cards {
    overflow-y: auto;
    max-height: calc(100% - #{$list-header-line-height} + #{$list-header-top-space} - #{$list-footer-height});

    scrollbar-width: thin; // for firefox

    &::-webkit-scrollbar {
      width: $scrollbar-thickness;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-thumb-bg-color;
      border-right: $scrollbar-padding-right solid $list-bg-color;
      border-radius: $scrollbar-border-radius;
    }

    &::-webkit-scrollbar-track{
      background: rgba(9,30,66,.08);
      border-right: $scrollbar-padding-right solid $list-bg-color;
      border-radius: $scrollbar-border-radius;
    }

    .list-card {
      margin-bottom: $list-card-gap;
    }

    .placeholder {
      width: $card-placeholder-width;
      border-radius: $card-placeholder-border-radius;
      background: $card-placeholder-bg-color;
    }
  }

  footer {
    padding: 0;

    border-bottom-left-radius: $list-border-radius;
    border-bottom-right-radius: $list-border-radius;
  }
}