$list-width: 272px;
$list-bg-color: rgb(223, 227, 230);
$list-border-radius: 3px;
$list-space: 12px;

$list-header-line-height: 19px;
$list-header-top-space: 8px;
$list-header-color: black;
$list-header-font-size: 1.3rem;

$list-card-top-space: 12px;
$list-card-gap: 8px;

$card-placeholder-bg-color: #C9D2D9;
$card-placeholder-width: 248px;
$card-placeholder-border-radius: 3px;

$list-footer-height: 43px;

$scrollbar-thickness: 9px;
$scrollbar-padding-right: 2px;
$scrollbar-border-radius: 5px;
$scrollbar-thumb-bg-color: #c1c6c9;

.card-list {
  position: relative;
  width: $list-width;

  > * {
    padding: 0 $list-space;

    background-color: $list-bg-color;
  }

  &.dragged {
    z-index: 1;

    transform: rotate(5deg);
    cursor: pointer;
  }

  header {
    border-top-left-radius: $list-border-radius;
    border-top-right-radius: $list-border-radius;

    .list-title {
      padding-top: $list-header-top-space;

      color: $list-header-color;
      font-family: Montserrat, 'sans-serif';
      font-size: $list-header-font-size;
      font-weight: bold;
      line-height: $list-header-line-height;
    }
  }

  .list-cards {
    overflow-y: auto;
    max-height: calc(100% - #{$list-header-line-height} + #{$list-header-top-space} - #{$list-footer-height});
    padding-top: $list-card-top-space;

    scrollbar-width: thin; // for firefox

    &::-webkit-scrollbar {
      width: $scrollbar-thickness;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-thumb-bg-color;
      border-right: $scrollbar-padding-right solid $list-bg-color;
      border-radius: $scrollbar-border-radius;
    }

    &::-webkit-scrollbar-track{
      background: rgba(9,30,66,.08);
      border-right: $scrollbar-padding-right solid $list-bg-color;
      border-radius: $scrollbar-border-radius;
    }

    .list-card:not(:last-child) {
      margin-bottom: $list-card-gap;
    }

    .placeholder {
      width: $card-placeholder-width;
      border-radius: $card-placeholder-border-radius;
      background: $card-placeholder-bg-color;
    }
  }

  footer {
    padding: 0;

    border-bottom-left-radius: $list-border-radius;
    border-bottom-right-radius: $list-border-radius;
  }
}