@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

$add-component-wrapper-bg-color: #DFE3E6;
$add-component-wrapper-border-radius: 2px;

$open-form-btn-width: 272px;
$open-form-btn-height: 43px;
$open-form-btn-space: 12px;
$plus-icon-gap: 8px;
$open-form-btn-color: rgb(107, 119, 140);
$open-form-btn-bg-color: #e3e5ea;
$open-form-btn-hover-bg-color: rgba(9, 30, 66, .13);
$open-form-btn-active-bg-color: rgba(11, 45, 103, 0.17);
$open-form-btn-hover-color: rgb(23, 43, 77);
$open-form-btn-font-size: 1.3rem;
$open-form-btn-border-radius: 2px;

$text-area-width: 248px;
$text-area-bg-color: white;
$text-area-border-radius: 2px;

$form-padding-top: 0;
$form-padding-right: 12px;
$form-padding-bottom: 16px;
$form-padding-left: 12px;

$content-height: 54px;
$content-color: black;
$content-padding-top: 8px;
$content-padding-right: 6px;
$content-padding-bottom: 8px;
$content-padding-left: 12px;

$form-controls-margin-top: 8px;
$content-placeholder-bg-color: #B8B9BB;
$close-icon-width: 15px;
$close-icon-height: 15px;

$add-btn-width: 152px;
$add-btn-height: 30px;
$add-btn-bg-color: #39C071;
$add-btn-color: white;
$add-btn-border-radius: 2px;
$add-btn-padding-top: 7px;
$add-btn-padding-right: 8px;
$add-btn-padding-bottom: 4px;
$add-btn-padding-left: 8px;

.add-component-wrapper {
  border-radius: $add-component-wrapper-border-radius;
  background-color: $add-component-wrapper-bg-color;

  .open-form-btn {
    display: flex;
    align-items: center;
    width: $open-form-btn-width;
    height: $open-form-btn-height;
    padding: $open-form-btn-space;

    cursor: pointer;
    text-align: start;
    color: $open-form-btn-color;
    background: $open-form-btn-bg-color;
    font-size: $open-form-btn-font-size;
    border-radius: $open-form-btn-border-radius;
    border: none;

    &:before {
      margin-right: $plus-icon-gap;

      content: url('../../assets/images/plus-icon.svg');
    }

    &:hover {
      color: $open-form-btn-color;
      background-color: $open-form-btn-hover-bg-color;
      text-decoration: underline;
    }

    &:active {
      background-color: $open-form-btn-active-bg-color;
      outline: none;
    }
  }

  .form {
    padding: $form-padding-top
             $form-padding-right
             $form-padding-bottom
             $form-padding-left;

    .content {
      width: $text-area-width;
      height: $content-height;
      padding: $content-padding-top
               $content-padding-right
               $content-padding-bottom
               $content-padding-left;

      color: $content-color;
      background: $text-area-bg-color;
      font-family: $font-stack;
      font-size: 1.3rem;
      line-height: 1.9rem;
      border-radius: $text-area-border-radius;
      border: none;
      box-shadow: 0 1px 4px rgba(9, 45, 66, 0.25);
      resize: none;

      @include placeholder {
        font-family: $font-stack;
        font-size: 1.3rem;
        line-height: 19px;
        color: $content-placeholder-bg-color;
      }
    }

    .form-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: $form-controls-margin-top;

      .add-btn {
        width: $add-btn-width;
        height: $add-btn-height;
        padding: $add-btn-padding-top
                 $add-btn-padding-right
                 $add-btn-padding-bottom
                 $add-btn-padding-left;

        color: $add-btn-color;
        background: $add-btn-bg-color;
        font-family: $font-stack;
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 1.9rem;
        border-radius: $add-btn-border-radius;
        border: none;
        cursor: pointer;
      }

      .close-btn {
        width: $close-icon-width;
        height: $close-icon-height;

        background: url('../../assets/images/cross-icon.svg') no-repeat;
        border: none;
        cursor: pointer;
      }
    }
  }

  .hidden {
    display: none;
  }
}



